@if (sidebarService.isSidebarOpen()) {
  <div
    class="fixed inset-0 z-40 bg-black/50 transition-opacity duration-300 md:hidden"></div>
}

<aside
  class="bg-bg-sidebar fixed inset-y-0 left-0 z-50 flex h-full w-[255px] transform flex-col shadow-lg transition-transform duration-300 ease-in-out md:relative md:flex md:translate-x-0"
  [class.translate-x-0]="sidebarService.isSidebarOpen()"
  [class.-translate-x-full]="!sidebarService.isSidebarOpen()">
  <button
    (click)="sidebarService.closeSidebar()"
    type="button"
    class="absolute top-2 right-2 block md:hidden">
    <svg-icon
      src="assets/icons/close.svg"
      [svgClass]="'bg-white cursor-pointer'" />
  </button>

  <!-- App Logo -->
  <app-logo-with-text
    class="flex items-center gap-6 ps-6 pt-10 sm:gap-4"
    svgIconColorClass="invert" />

  <nav class="mt-12.5">
    <ul>
      @for (linkData of links; track linkData.label) {
        <li class="mb-2 h-14">
          <app-menu-link
            [href]="linkData.route"
            [label]="linkData.label"
            [icon]="linkData.icon"
            class="block h-full" />
        </li>
      }
    </ul>
  </nav>

  <hr class="bg-border-light mt-10 h-[2px]" />
  <div class="mt-4 h-14">
    <app-menu-link
      href="/settings"
      label="Settings"
      [icon]="'assets/icons/settings.svg'" />
  </div>
</aside>
