<div
  class="border-border-primary bg-background-sidebar mb-6 rounded-lg border p-6 dark:dark:shadow-sm">
  <!-- Actions Div -->
  <div
    class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
    <p class="font-inter text-text-primary text-xl font-bold">Users</p>

    <!-- Search Input -->
    <div class="w-full flex-1">
      <app-input
        inputType="text"
        inputPlaceholder="Search"
        [icon]="'assets/icons/search.svg'"
        iconPosition="start" />
    </div>

    <!-- Dropdown Icon -->
    <button
      class="border-background-quinary text-background-senary inline-flex w-full cursor-pointer items-center justify-between rounded-md border px-4 py-2.5 text-sm font-semibold sm:w-[172px]">
      Actions
      <span>
        <svg-icon src="assets/icons/down-arrow.svg" />
      </span>
    </button>
  </div>
  <!-- Music Filter Buttons -->
  <div class="my-10 overflow-x-auto">
    <app-music-filter-buttons />
  </div>

  <app-users-table />
</div>
