<!-- Responsive Table Container -->
<div class="w-full overflow-hidden">
  <!-- Scrollable container for small -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left rtl:text-right">
      <!-- Table heading -->
      <thead>
        <tr>
          @for (heading of tableHeadings; track heading.id) {
            <th
              class="font-inter text-background-senary px-3 py-3 text-sm font-bold whitespace-nowrap uppercase"
              [ngClass]="{
                'min-w-[220px]': heading.title === 'User Name and Email',
              }"
              scope="col">
              {{ heading.title }}
            </th>
          }
          <th
            class="font-inter text-background-senary w-10 px-3 py-3 text-sm font-bold whitespace-nowrap uppercase"
            scope="col"></th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        @for (user of users; track user.email) {
          <tr
            class="border-t-border-tertiary border-t-[0.4px] transition hover:bg-gray-300/80">
            <td class="px-3 py-4">
              <div class="flex items-center gap-4">
                <img
                  [alt]="user.email"
                  [src]="user.avatar"
                  class="h-10 w-10 shrink-0 rounded-full object-cover" />

                <div class="min-w-0">
                  <p
                    class="text-text-primary font-inter max-w-[180px] truncate text-sm font-semibold">
                    {{ user.name }}
                  </p>
                  <p
                    class="font-mulish text-background-quinary max-w-[180px] truncate text-xs font-normal">
                    {{ user.email }}
                  </p>
                </div>
              </div>
            </td>

            <td class="px-3 py-4 whitespace-nowrap">
              <p class="text-text-primary font-inter text-sm font-semibold">
                {{ user.country }}
              </p>
              <p
                class="font-mulish text-background-quinary text-xs font-normal">
                {{ user.city }}
              </p>
            </td>

            <td
              class="text-text-primary font-inter px-3 py-4 text-xs font-semibold whitespace-nowrap">
              {{ user.signup }}
            </td>
            <td
              class="text-text-primary font-inter px-3 py-4 text-sm font-semibold whitespace-nowrap">
              {{ user.fans }}
            </td>
            <td
              class="font-inter px-3 py-4 text-sm font-semibold whitespace-nowrap text-[#363740] dark:text-white">
              {{ user.songs }} Songs
            </td>

            <td class="px-3 py-4 text-right whitespace-nowrap">
              <button class="cursor-pointer px-3 py-3 hover:bg-gray-700">
                <svg-icon src="assets/icons/vertical-3-dot.svg" />
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
