<div class="group relative h-full w-full">
  <a
    [routerLink]="href"
    [routerLinkActive]="'active'"
    [ariaCurrentWhenActive]="isActive ? 'page' : undefined"
    class="text-text-muted hover:bg-bg-dark flex h-full items-center gap-2 rounded-md px-4 py-2 transition-colors duration-200 hover:text-white">
    <span class="flex items-center gap-4 sm:gap-6">
      <svg-icon
        [src]="icon"
        [svgStyle]="{
          path: { fill: isActive ? 'white' : 'var(--color-text-muted)' },
        }" />

      <span
        class="font-mulish text-base"
        [ngStyle]="{ color: isActive ? 'white' : 'var(--color-text-muted)' }">
        {{ label }}
      </span>
    </span>
  </a>

  @if (isActive) {
    <div
      class="bg-bg-light-gray-3 absolute top-0 left-0 h-full w-[3px] transform transition-all duration-300"
      [ngClass]="{ 'scale-y-100': isActive, 'scale-y-0': !isActive }"></div>
  }
</div>
