<div class="relative flex w-full flex-col gap-1 sm:gap-1.5">
  @if (label) {
    <label
      [attr.for]="inputId"
      class="font-inter text-text-muted text-xs font-bold uppercase"
      >{{ label }}</label
    >
  }

  <div class="relative w-full">
    @if (icon && iconPosition === 'start') {
      <span class="absolute inset-y-0 start-3 flex items-center">
        <svg-icon [src]="icon" class="text-text-muted h-4 w-4" />
      </span>
    }

    <input
      class="placehoder:text-text-muted bg-bg-light-gray-2 placeholder:font-mulish h-[42px] w-full rounded-lg border border-[var(--border-light-2)] py-2 ps-4 placeholder:text-sm placeholder:font-normal placeholder:opacity-40"
      [class.ps-10]="icon && iconPosition === 'start'"
      [class.pe-10]="(icon && iconPosition === 'end') || isPassword"
      [type]="getInputType()"
      [placeholder]="inputPlaceholder"
      [id]="inputId" />

    @if (isPassword) {
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="absolute inset-y-0 end-3 flex cursor-pointer items-center">
        <svg-icon
          [src]="
            showPassword
              ? '/assets/icons/eye-open.svg'
              : '/assets/icons/eye-close.svg'
          " />
      </button>
    } @else if (icon && iconPosition === 'end') {
      <span class="absolute inset-y-0 end-3 flex items-center">
        <svg-icon [src]="icon" class="text-text-muted h-4 w-4" />
      </span>
    }
  </div>
</div>
