<div class="relative">
  <div class="mx-auto px-5">
    <div class="flex items-center py-3.5">
      <!-- Mobile Navigation button -->
      <div class="md:hidden">
        <button
          class="bg-text-secondary focus:ring-primary hover:bg-text-secondary/50 inline-flex cursor-pointer items-center justify-center rounded-md p-2 focus:ring-2 focus:outline-hidden focus:ring-inset"
          type="button"
          [attr.aria-expanded]="sidebarService.isSidebarOpen()"
          (click)="$event.stopPropagation(); sidebarService.toggleSidebar()">
          <span class="sr-only">
            {{
              sidebarService.isSidebarOpen() ? 'Close Menu' : 'Open Menu'
            }}</span
          >
          <svg-icon
            [src]="'assets/icons/menu.svg'"
            [svgClass]="'h-4 w-4'"
            [svgStyle]="{ color: 'white' }" />
        </button>
      </div>

      <div class="flex flex-1 items-center justify-between ps-2">
        <h1 class="font-inter text-text-primary text-4xl font-bold">Users</h1>

        <div class="flex items-center gap-3">
          <p class="font-inter text-text-primary text-sm font-semibold">
            Seth Mills
          </p>

          <div class="border-border-primary rounded-full border-[1.5px]">
            <img
              src="assets/profile-pic.jpg"
              alt="user profile"
              class="h-10 w-10 overflow-hidden rounded-full object-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
