<div class="relative">
  <div class="mx-auto px-5">
    <div class="flex items-center py-3.5">
      <!-- Mobile Navigation button -->
      <div class="md:hidden">
        <button
          class="bg-muted text-muted-foreground focus:ring-primary hover:bg-muted-foreground hover:text-muted inline-flex cursor-pointer items-center justify-center rounded-md p-2 hover:bg-gray-300/10 focus:ring-2 focus:outline-hidden focus:ring-inset"
          type="button"
          aria-expanded="false">
          <span class="sr-only">Open Menu</span>
          <svg-icon src="assets/icons/menu.svg" [svgClass]="'h-4 w-4'" />
        </button>
      </div>

      <div class="flex flex-1 items-center justify-between ps-2">
        <h1 class="font-inter text-4xl font-bold">Users</h1>

        <div class="flex items-center gap-3">
          <p class="font-inter text-text-dark text-sm font-semibold">
            Seth Mills
          </p>

          <div
            class="rounded-full border-[1.5px] border-[var(--color-border-light)]">
            <img
              src="assets/profile-pic.jpg"
              alt="user profile"
              class="h-10 w-10 overflow-hidden rounded-full object-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
